/* Container styling */
.container {
  padding: 2rem;
  text-align: center;
}

.content {
  max-width: 1260px;
  margin: 0 auto;
}

.profile {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  flex-direction: column;
  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
  border: 1px solid var(--ifm-color-emphasis-200);
  padding: 1rem;
  border-radius: 8px;
}

.profile:hover {
  text-decoration: none;
  box-shadow: 1px 1px 12px rgb(183 183 183 / 20%);
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

.profileInfo {
  margin-right: 0;
  text-align: center;
  width: 100%;
  order: 2;
}

.profileName {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.profileDescription {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid #98deff;
  order: 1;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
}

.group {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.groupTitle {
  width: 100%;
  font-size: 2.5rem;
  margin: 2rem 0 1rem 0;
  text-align: left;
}

/* Card container using CSS Grid */
.cards {
  display: grid;
  grid-template-columns: 1fr; /* Single column on very small screens */
  gap: 1.5rem;
  justify-items: start;
}

/* Individual card styling */
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: 100%; /* Take full width within grid cell */
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}

.card:hover {
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
}

.cardImage {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.cardTitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #202124;
}

.cardDescription {
  font-size: 1rem;
  color: #202124;
  margin: 0;
}

/* Responsive layout adjustments */
@media (min-width: 600px) {
  .profile {
    flex-direction: row;
  }

  .profileInfo {
    margin-right: 3rem;
    text-align: left;
    width: 50%;
    order: 1;
  }

  .avatar {
    order: 2;
  }
  .content {
    max-width: 580px;
    margin: 0 auto;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr); /* Two columns on small screens */
  }
}

@media (min-width: 900px) {
  .content {
    max-width: 800px;
    margin: 0 auto;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr); /* Three columns on medium screens */
  }
}

@media (min-width: 1200px) {
  .content {
    max-width: 1260px;
    margin: 0 auto;
  }
  .cards {
    grid-template-columns: repeat(4, 1fr); /* Four columns on large screens */
  }
}
